/**
font-family: 'Charmonman', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
 */

h1 {
	font-family: 'Anton', sans-serif;
	color: green;
}

.logo {
	background: yellow;
}

.bg-blue {
	background-color: blue;
}

#file {
	padding: 20px 0 20px 0;
	border: 13px solid black;
}

[data-li="text li1"] {
	background: pink;
}

[data-li^="li"] {
	background: yellow;
}

[data-li$="li2"] {
	background: black;
	color: white;
}

[data-li*=" "] {
	font-size: 20px;
}

[data-li~="h"] {
	font-size: 80px;
	color: aqua;
}

.font-indie-flower {
	font-family: 'Indie Flower', cursive;
	line-height: normal;
}

.font-charmonman {
	font-family: 'Charmonman', cursive;
	line-height: normal;
}

.line-height {
	line-height: normal;
}
