/**
font-family: 'Charmonman', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
 */

h1 {
	font-family: 'Anton', sans-serif;
	color: green;
}

.logo {
	background: yellow;
}

.bg-blue {
	background-color: blue;
}

#file {
	padding: 20px 0 20px 0;
	border: 13px solid black;
}

[data-li="text li1"] {
	background: pink;
}

[data-li^="li"] {
	background: yellow;
}

[data-li$="li2"] {
	background: black;
	color: white;
}

[data-li*=" "] {
	font-size: 20px;
}

[data-li~="h"] {
	font-size: 80px;
	color: aqua;
}

.font-indie-flower {
	font-family: 'Indie Flower', cursive;
	line-height: normal;
}

.font-charmonman {
	font-family: 'Charmonman', cursive;
	line-height: normal;
}

.line-height {
	line-height: normal;
}

section {
	height: 100vh;
	width: 95vw;
	background: white;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 5px;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	counter-reset: col;
}
section .col {
	width: 100px;
	height: 100%;
	background: grey;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	counter-increment: col;
	counter-reset: cell;

}
section .col .cell {
	counter-increment: cell;
	width: 100%;
	height: 200px;
	background: red;
	margin: 0 0 5px;
	overflow-y: auto;
	overflow-x: auto;
}
section .col .cell.height1 {
	height: 50px;
}
section .col .cell.height2 {
	height: 100px;
}
section .col .cell.height3 {
	height: 300px;
}
section .col .cell.height4 {
	height: 500px;
}
section .col .cell::before {
	content: 'Стовбчик ' counter(col) ' - Клітинка ' counter(cell);
}

.hover {
	width: 50%;
	margin: 0 auto;
}

.hover p {
	background: red;
	position: relative;
}

.hover p::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}

.hover p:nth-child(odd):hover::before {
	left: -50%;
}

.hover p:nth-child(even):hover:before {
	right: -50%;
}
#iakor1:target,
#iakor2:target,
#iakor3:target,
#iakor4:target,
#iakor5:target,
#iakor6:target {
	background:black;
	text-decoration:underline;
	color: white;
}
.fixed {
	position: fixed;
	top: 0;
	background: yellow;
}